<html>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <head>
    <title>El blog de les nines django</title>
  </head>
  <body>
    <h1>Bon dia!</h1>
    <p>Hola!</p>

    <hr>
    <h2>Publicacions</h2>
    {% for post in posts %}
      <div>
        <p>Publicat: {{ post.published_date }}</p>
        <h1><a href = "" >{{ post.title }} </a></h1>
        <p>{{ post.text|linebreaksbr }} </p>
      </div>
      <hr>
    {% endfor %}

  </body>
</html>
